body {
    background-image: url(background.gif);
    background-size: cover;
    width: 100%;
  }
  
  .one {
    width: 200px;
    height: 200px;
    object-fit: contain;
    position: absolute;
    bottom: 30px;
  }
  
  .two {
    width: 200px;
    height: 200px;
    object-fit: contain;
    position: absolute;
    bottom: 30px;
    right: 15px;
    transform: scaleX(-1);
    }
  