body{
    margin: 0;
}
.background_img{
    background-image: url("images/gallery/cycle.png");
    height: 556px;
    background-size: cover;
}
.First_logo{
    padding: 40px 40px 0 80px;
}
.links ul{
    display: flex;
    list-style: none;
    margin: 0;
}
.links a:hover{
    background-color: rgba(6, 210, 181, 0.93);
    color: whitesmoke;
    padding: 15px 5px;

}
.links{
    float: right;
}
.links a{
    text-decoration: none;
    padding: 15px 5px;
    color: white;
    margin-right: 30px;

}
.links li{
    padding: 15px 5px;
}
.links p{
    color: white;
    margin: 0;
    padding-left: 12%;
}
.Active{
    padding: 15px 5px;
    color: white;
    background-color: aquamarine;
}
.header h1{
    text-align: center;
    padding-top: 9%;
    color: whitesmoke;
    font-size: 77px;
    font-weight: 400;
    margin: 0;
}
.header p{
    margin: 0;
    text-align: center;
    color: whitesmoke;
    font-size: 47px;
    font-weight: 100;
}
.container{
    margin: 0 auto;
    width: 1170px;
    height: 2200px;
}
.Blog{
    padding-top: 4%;
    display: flex;
}
.image_box{
    width: 47%;
    height: 450px;
    margin-right: 3%;
}
.image_box img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.Blog_paragraph{
    width: 50%;
}
.Blog_paragraph h2{
    font-size: 52px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
}
.Blog_paragraph p{
    font-size: 22px;
    margin-top: 0;
}
.paragraph_two p{
    font-size: 23px;
}
.paragraph_three{
    padding: 2% 17% 2% 10%;
    font-size: 34px;
}
.button_box{
    padding: 2% 2%;
    border: 1px solid #b5b5b5;
}
.button_box .fb{
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    background-color: #3b5998;
    color: whitesmoke;
}
.button_box .tw{
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    background-color: #55acee;
    color: whitesmoke;
}
.button_box .yt{
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #cb2027;
    color: whitesmoke;
}
.button_box p{
    float: right;
    margin: 5px 0 0 0;
    font-size: 20px;
}
.header_one h2{
    padding: 4%;
    margin: 0;
    font-weight: 500;
}
.comment_box{
    display: flex;
}
span{
    color: #9bcd57;
}
.comment_post{
    font-size: 24px;
    width: 40%;
    padding: 19px;
    margin-right: 15%;
    border: 1px solid #b5b5b582;
}
.comment_post_two{
    width: 40%;
    padding: 19px;
    font-size: 24px;
    border: 1px solid #b5b5b582;
}
.comment h2{
    padding: 5%;
    margin: 0;
}
.comment .com{
    padding: 1% 17%;
}
textarea{
    margin: 0px;
    width: 1104px;
    height: 157px;
    padding: 15px 0 0 15px;
}
.comment .text_button{
    padding: 15px 30px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 22px;
    border: none;
}
.last_div{
    background-image: url("images/home/cycle_img.png");
    background-size: cover;
    height: 474px;
}
.heading_two{
    text-align: center;
    padding-top: 5%;
}
.heading_two p{
    color: aqua;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;

}
.heading_two span{
    color: white;
    font-size: 20px;
    margin-top: 0;
}
.heading_two form{
    padding-top: 5%;
}
.heading_two input{
    height: 35px;
    border-radius: 2px;
    border: none;
    padding: 0 6%;
}
.heading_two .yz{
    padding: 4px 45px;
    background-color: #15ff1c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 15px;
    border-radius: 2px;
}
.last_logo{
    padding-top: 10%;
    padding-left: 3%;
}
.links p{
    color: white;
    margin: 0;
    padding-left: 12%;
}